/* Fuente importada de Google Font */
@import url('https://fonts.googleapis.com/css?family=Lobster+Two');

/* CSS validaciones JS */

.error-input {
	background-color: #c9302c;
}

.error {
	color: #c9302c;
	font-weight: bold;
}

.ok {
	color: #61af54;
	font-weight: bold;
}



/* CSS General de la web */

body {
	
	/*background-image: url("Untitled.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;*/
	background-color: #f5f1e7;
	margin: 0;
  	margin-bottom: 40px;

}

head {
	background-color: #0e0c0c;
}

h1, h2,h3, h4, p {
	font-family: 'Lobster Two';
	color: #000000;
}

.home {
	background-image: url("../media/img/img_inmuebles/bbk_fachada_0533.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	width: 100%;
	height: 800px
}

.hipotecas {
	background-image: url("../media/img/img_inmuebles/bbk_buhardilla_0890.jpeg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.acceso {
	background-image: url("../media/img/img_inmuebles/bbk_buhardilla_0890.jpeg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}


.cabecera {
	background-color: #e9ae2e;
	padding-top: 110px;
}

.cabecera-menu-inicio {
	padding-top: 125px;
	padding-bottom: 20px;
}

.cabecera-noticia {
	margin-top: 50px;
	margin-bottom: 50px;
}

.cabecera-form {
	margin-top: 70px;
}

.petit-noticias { 
	padding-top: 25px;
	padding-bottom: 20px;
	width: 30px;
	text-align: center
}

.contenido-noticia {
	text-align: center
	
}






.menu {
    margin-top: auto;
    margin-bottom: auto;
	background-color: #020000;
}



.img-aleatoria { 
	padding-top: 155px;
}

.contenedor-imagenes {
	display: inline-block;
	padding-top: 15px;
	width:1300px;
	height:400px
}

footer {
	background-color: #000000;
	padding-top: 8px;
	display: both;
	bottom: 0;
	width: 100%;
	height: 40px;
	color: #baa35f;
	position: fixed;
}

.margen-noticias {
	margin-top: 25px;
	margin-bottom: 25px;
}

.margen-citas {
	margin-top: 100px;
}

.margen-cont {
	margin-bottom: 100px;
}

.warnin-new {
	padding: 90px;
	margin-top: 10%;
}

.pagina {
	margin-bottom: 30px;
}

.texto {
	font-size: 18px;
}

.espacio-noticias-index {
	width: 30.333333%;
    margin-right: 20px;
    margin-left: 19px;
}

.botones-admin {
	padding-bottom: 20px;
	padding-top: 20px;
}

.nav {
	padding-top: 16px;
}

.nav-header {
	background-color:rgba(0,0,0,0);
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
	color: #baa35f;
}

.navbar-inverse .navbar-nav>li>a {
	color: #baa35f;
	padding-right: 10px;
}

.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}

.nav>li>a:focus, .nav>li>a:hover {
	text-decoration: none;
    background-color: #286090;
}

.n-resp {
	margin-top: 23px;
	border-color: #b9a25f;
}

.navbar-inverse .navbar-toggle {
	border-color: #b9a25f;
}

.navbar-inverse .navbar-toggle .icon-bar {
	background-color: #b9a25f;
}

.btn-theme {
	color: rgb(255, 255, 255);
	background-color: #59b8f7;
    border: 1px solid #63b4eb;
    margin-right: 15px;
}

.btn-theme:hover {
    color: #000;
    background-color: #baa35f;
    border-color: #fff;
}

.btn-info {
	background-color: #baa35f;
	border-color: #f5f1e8;
}

.btn-info.active, .btn-info:active, .open>.dropdown-toggle.btn-info {
	background-color: rgb(29, 48, 156); 
	border-color: #f5f1e8;
}

.btn-info:hover {
	background-color: rgb(20, 27, 119); 
	border-color: #f5f1e8;
}

.btn-favorito {
	background-color:#baa35f;
	border-color: #f5f1e8;
}

.btn-favorito:hover {
	background-color: #333 !important; 
	border-color: #f5f1e8;
}




.pager li>a, .pager li>span {
	background-color: #000000;
    border: 1px solid #baa35e;
    color: #baa35e;
}

.tarjeta {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0);
    transition: 0.5s;
    margin-bottom: 25px;
	
}

.mostrar-busqueda, .tnoticias {
	padding: 15px;
    border: solid 0.5px;
    border-color: #101010;
    background-color: #f5f1e8;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0);
    transition: 0.5s;

}

.tcontenedor{
	width: 900px;
}

.aweb{
	color:#baa35e;
}

.tnoticias:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0);
}

.ver-inm {
	margin-top: 25px;
}

.bt-ver {
	margin-top: 5px;
}

.contenedor {
    padding: 2px 40px;
}

.ultimas-noticias {
	padding-bottom: 15px;
	margin-bottom: 50px;
}


.footer-noticias {
	margin-bottom: 40px;
    margin-top: -60px;
}

.footer-clientes {
	margin-left: -31px;
}

.lista-clientes {
	margin-top: 35px;
}

.botones-clientes {
	margin-left: 40.333333%;
}

.btn-primary {
	background-color: #0c365a;
	border-color: #fff;
}

.btn-success {
	background-color: #72e495;
	border-color: #fff;
}

.btn-danger {
	background-color: #e68068;
	border-color: #fff;
}

table th{
	text-align: left;
}






